header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  background: #000033;
  color: white;
  font-size: 20px;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
  color: whitesmoke;
  text-decoration: none;
}

header li:hover {
  opacity: 0.6;
}

header p {
  font-weight: 700;
  font-size: 1.5em;
}
